body {
    background-color: #ffffff;
    color: #303453 !important;
    font-size: 15px;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.center_content h2 {
    font-size: 32px !important;
    font-weight: 700 !important;
}

.form-check label p {
    font-size: 15px;
    font-weight: 700;
}

.form-check label i {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#health_eating .custom_check {
    height: 48px;
}

.form-check-label strong {
    font-size: 13px;
    font-weight: bold !important;
}


#health_eating .justify-content-evenly {
    margin-top: 0 !important;
}

#brand_dropdown input {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 100px;
    outline: none;
    font-style: italic;
}

#brand_dropdown input::placeholder {
    color: black;
}

p.form-check-label strong {
    font-size: 15px !important;
    font-weight: 700;
}

label.form-check-label {
    font-size: 13px;
}

.form-check .form-check-label {
    margin-bottom: 50px;
}

.form-check-input {
    font-size: 14px;
    font-weight: 400;
}

.contact * {
    font-size: 14px !important;
}

.contact ::placeholder {
    font-size: 14px !important;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

a {
    text-decoration: none !important;
    color: #3f4f5f;
}

.btn-xl {
    width: 100%;
    max-width: 300px;
    padding: 8px 10px;
}

.btn-light {
    --bs-btn-bg: #f8f3e8;
    --bs-btn-border-color: #f8f3e8;
    --bs-btn-hover-bg: #f1ebde;
    --bs-btn-hover-border-color: #f1ebde;
}

.form-control,
.form-select {
    max-width: 410px;
    margin: 0 auto;
    border-radius: 55px !important;
    font-style: italic;
    text-align: center;
}

.tooltip-inner {
    color: #000000;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 0;
    max-width: 500px;
}

.tooltip-arrow {
    opacity: 0;
}

.table>:not(caption)>*>* {
    vertical-align: middle;
}

/* Global Style */

/* Header Style */
header {
    background-color: #f8f3e8;
}

.logo {
    max-width: 300px;
}

.back_page {
    position: absolute;
    left: 15px;
    top: 9px;
}

/* Header Style */

/* Body Style */
.body h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #3f4f5f;
}

.body h3 {
    font-size: 24px;
    font-weight: 500;
    color: #3f4f5f;
}

.font-30 {
    font-size: 30px;
    font-weight: bold;
}

.body h1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    color: #3f4f5f;
}

.center_content {
    max-width: 700px;
    margin: 0 auto;
    /*min-height: 350px;*/
    min-height: 420px;
    position: relative;
}

.center_content.first {
    min-height: 468px;
}

ul.nextpage_process {
    display: none;
}

ul.nextpage_process li {
    position: relative;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.nextpage_process li a {
    pointer-events: none;
    color: #d9d9d9;
}

ul.nextpage_process li.active a {
    color: #3f4f5f;
}

ul.nextpage_process li.active {
    color: #3f4f5f;
}

ul.nextpage_process li:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin: 0 auto;
    z-index: 1;
}

ul.nextpage_process li.active:after {
    background-color: #3f4f5f;
}

ul.nextpage_process li+li:before {
    content: '';
    position: absolute;
    left: -50%;
    top: -16px;
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
}

ul.nextpage_process li.active:before {
    background-color: #3f4f5f;
}

ul.nextpage_process li i {
    display: none;
}

ul.nextpage_process li.active i {
    display: block;
}

.custom_check {
    padding: 0;
}

.custom_check label {
    background-color: #fff;
    width: 150px;
    padding: 10px;
    display: block;
    border: 1px #d9d9d9 solid;
    border-radius: 20px;
    margin: 5px 8px;
}

.custom_check input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.custom_check input[type="radio"]:checked+label,
.custom_check input[type="checkbox"]:checked+label,
.custom_check .Checked+label {
    background: #b6dee7;
    border-color: #b6dee7;
}

.custom_check input[type="radio"].boy:checked+label,
.custom_check input[type="checkbox"].boy:checked+label,
.custom_check input[value="boy"]:checked+label,
.custom_check .Checked+label {
    background: #b6dee7;
    border-color: #b6dee7;
}

.custom_check input[type="radio"].girl:checked+label,
.custom_check input[type="checkbox"].girl:checked+label,
.custom_check input[value="girl"]:checked+label,
.custom_check .Checked+label {
    background: pink;
    border-color: pink;
}

.gender {
    border-radius: 100% 100% 30px 30px;
    width: 50%;
}

.gender img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.gender .grfirst {
    border: 1px solid gray;
    border-radius: 100% 100% 0 0;
    padding: 60px 20px 20px 20px !important;
    align-items: center;
    background-color: #f1ebde;
    justify-content: center;
}

.payment {
    color: #3f4f5f;
    width: 480px;
}

.payment h5 {
    font-weight: 600;
}

.payment .title {
    font-weight: 500;
    font-size: 20px;
    margin-left: 36px;
}

.payment .subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 48px;
}

.discount h2 {
    font-size: 24px;
    font-weight: 500;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
}

.discount {
    margin-top: 48px;
}

.gender .second {
    border: 1px solid gray;
    border-top: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 32px;
    display: flex;
    align-items: start;
    text-align: left;
    flex-direction: column;
}

.gender h2 {
    font-weight: 600;
}

/*.custom_check input[value="boy"]:checked+label,
.custom_check .boy:checked+label,
.custom_check .Checked+label {
    background: #b6dee7;
    border-color: #b6dee7;
}

.custom_check input[value="girl"]:checked+label,
.custom_check input[type="radio"]:checked+label
.custom_check .Checked+label {
    background: pink;
    border-color: pink;
}*/


.baloon1 {
    position: absolute;
    left: -40px;
    top: 110px;
    -webkit-animation: UpDown 3s infinite alternate;
}

.baloon2 {
    position: absolute;
    right: -40px;
    top: -20px;
    -webkit-animation: UpDown2 3s infinite alternate;
}

.baloon1 img,
.baloon2 img {
    height: 150px;
}

@-webkit-keyframes UpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes UpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes UpDown2 {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes UpDown2 {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.center_content .input-group {
    max-width: 410px;
    margin: 0 auto;
    border-radius: 55px;
}

.center_content .input-group .input-group-text {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    z-index: 9;
}

.weightmachine {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-animation: halfround 3s infinite alternate;
}

@-webkit-keyframes halfround {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(35deg);
    }
}

@keyframes halfround {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(35deg);
    }
}

.weightmachine img {
    height: 110px;
}

.dog-check .form-check {
    padding-left: 0;
    margin-bottom: 0.125rem;
    width: 200px;
    justify-content: center;
    padding: 190px 15px 0 15px;
    position: relative;
}

.dog-check .form-check+.form-check::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 61%;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.dog-check .form-check .form-check-input {
    float: none;
    margin: 0 auto;
}

.dog-check .form-check-input {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 9;
}

.dog-check .form-check-input:checked {
    background-color: #b6dee7;
    border-color: #95aabe;
}

.dog-check .form-check-input.boy:checked {
    background-color: #b6dee7;
    border-color: #95aabe;
}

.gender .boy {
    background-color: #b6dee7;
    border-color: #95aabe;
}

.gender .girl {
    background-color: pink;
    border-color: pink;
}

.dog-check .form-check-input.girl:checked {
    background-color: pink;
    border-color: pink;
}

.dog-check .form-check-input:checked[type=radio] {
    background-image: none;
}

.dog-check label {
    opacity: 0.5;
    margin-top: 5px;
}

.dog-check input[type="radio"]:checked+label,
.dog-check .Checked+label {
    opacity: 1;
}

.select_dog {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    max-width: 155px;
    right: 0;
    margin: 0 auto;
}

.dog-check input[type="radio"]:checked+label {
    opacity: 1;
}

.dog-check input[type="radio"]:checked .select_dog {
    opacity: 1 !important;
}

.form-check.proteins_check .form-check-input {
    float: none;
    margin-left: 0;
    position: absolute;
    right: 22px;
    top: 20px;
    z-index: 9;
}

.proteins_check {
    padding: 0;
    width: 250px;
    position: relative;
    min-height: 335px;
    margin: 10px 8px;
}

.proteins_check label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    padding: 20px 10px;
    border: 1px #ccc solid;
    border-radius: 42px;
}

.proteins_check input[type="checkbox"]:checked+label,
.proteins_check input[type="checkbox"].boy:checked+label {
    background-color: #b6dee7;
}

.proteins_check input[type="checkbox"].girl:checked+label {
    background-color: pink;
}

.amount_box {
    width: 100%;
    float: left;
    border: 1px #ccc solid;
    padding: 15px;
    position: relative;
    height: 100%;
}

.amount_box ul li {
    list-style-image: url('../images/checkimg.png');
}

.amount_box_in {
    min-height: 430px;
}

a.custom_btn {
    width: 100%;
    float: left;
    color: #000;
    padding: 30px 20px;
    border: 1px #ccc solid;
    margin-bottom: 30px;
    display: block;
    background-color: white;
}

.openPaymentDropdown {
    width: 100%;
    float: left;
    color: #000;
    padding: 30px 20px;
    border: 1px #ccc solid !important;
    margin-bottom: 30px;
    display: block;
    background-color: white;
    outline: none;
}

.bento_box {
    max-width: 920px;
    margin: 0 auto;
}

#inner_tab .inner_tab_body .inner_tab_content,
#inner_tab2 .inner_tab_body .inner_tab_content,
#inner_tab3 .inner_tab_body .inner_tab_content,
#inner_tab4 .inner_tab_body .inner_tab_content {
    display: none;
}

#inner_tab .inner_tab_body .inner_tab_content:first-child,
#inner_tab2 .inner_tab_body .inner_tab_content:first-child,
#inner_tab3 .inner_tab_body .inner_tab_content:first-child,
#inner_tab4 .inner_tab_body .inner_tab_content:first-child {
    display: block;
}

ul.nextpage_process li .step_pagination {
    display: none;
}

ul.nextpage_process li.current .step_pagination {
    display: inline-block;
}

ul.nextpage_process li.completed_step a {
    position: relative;
    color: black;
    padding-left: 13px;
}

ul.nextpage_process li.completed_step:after {
    background-color: #3f4f5f;
}

ul.nextpage_process li.completed_step a:before {
    content: "✓";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    font-size: 14px;
    color: #3f4f5f;
}

.all_buttons {
    width: 100%;
    max-width: 985px;
    margin: 0 auto;
}

#select_breed,
#pure_breed_select,
#if_allergies_have,
#health_challenges_to_apply,
#if_allergies_have input[name="if-other-allergies"],
#health_challenges_to_apply input[name="tell-other-challenges"] {
    display: none;
}

a.innner_previous_btn,
a.main_previous_btn {
    position: absolute;
    top: 20px;
    left: 20%;
}

.popup_overlay_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}

.popup_overlay_div .popup_content {
    width: 100%;
    max-width: 600px;
    height: 210px;
    background: #fff;
    padding: 20px 25px 20px 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_overlay_div .popup_content p {
    font-size: 14px;
    color: #000;
    line-height: 22px;
}

.popup_overlay_div .popup_content a.close_btn,
.popup_overlay_div .popup_content a.close_btn2 {
    position: absolute;
    top: 0px;
    right: 8px;
    color: #000;
    font-size: 19px;
}

/*====================================== Responsive ================================*/

@media (max-width: 768px) {
    ul.nextpage_process {
        display: flex;
        padding-left: 0 !important;
    }

    ul.nextpage_process li .step_pagination {
        display: block;
    }

    .rs {
        width: 160px !important;
        margin: auto !important;
    }

    .logo {
        max-width: 230px;
    }

    .dog-check .form-check {
        padding: 129px 15px 0 15px;
    }

    .dog-check .fst {
        padding: 145px 15px 0 15px !important;
    }

    .form-check .form-check-label {
        margin: 0;
    }

    .back_page {
        top: 1px;
    }

    ul.nextpage_process li {
        font-size: 12px;
        line-height: 13px;
    }

    .body h2 {
        font-size: 28px;
    }

    .baloon1 {
        left: -50px;
    }

    .baloon2 {
        right: -50px;
    }

    .proteins_check {
        margin: 10px auto;
    }

    .amount_box {
        height: auto;
    }

    .popup_overlay_div .popup_content {
        height: auto;
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 180px;
    }

    .back_page {
        top: 0px;
    }

    .back_page img {
        height: 30px;
    }

    .body h2 {
        font-size: 22px;
    }

    .custom_check label {
        margin: 5px auto;
    }

    .baloon1,
    .baloon2,
    .weightmachine,
    .dog-check .form-check+.form-check::before {
        display: none;
    }

    .dog-check .form-check {
        margin: 30px auto;
    }

    a.innner_previous_btn,
    a.main_previous_btn {
        top: 10px;
        left: 15px;
    }
}